@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* img {
	max-width: 100%;
	display: block;
}

.wrapper {
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto; 
	margin-bottom: 10px; 
	break-inside: avoid;
}

.wrapper > img {
	grid-row: 1 / -1;
	grid-column: 1;
}

.contain {
	column-count: 4;
	gap: 1rem;
} */

@layer utilities {
	@variants responsive {
		.cols-4 {
			column-count: 4;
		}
		.cols-3 {
			column-count: 3;
		}
		.cols-2 {
			column-count: 2;
		}
		.cols-1 {
			column-count: 1;
		}
	}
}

/* .masonry {
	column-count: 3;
	column-gap: 2rem;
}
@screen lg {
	.masonry {
		column-count: 4;
	}
} */
